@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  color: white;
}

.appTitle {
  padding-top: 40px;
  margin-bottom: 40px;
  font-size: 2.2rem;
}

.counterContainer {
  background-color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.titleRealizado {
  color: black;
  font-size: 1.7rem;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 60%;
  margin: 0 auto; 
  font-size: 3rem;
}

.countup {
  color: black;
  background-color: white;
}

form {
  margin-top: 30px;
}

.inputFinder {
  padding: 15px;
}

.blockFinderTitle {
  margin-top: 40px;
}

.blockFinderContainer {
  color: white;
  min-height: 200px;
  background-color: #165ec9;
  width: 90%;
  margin: 20px auto 80px;
  border-radius: 5px;
}

.blockFinder {
  margin-left: 20px;
  background-color: white;
  border: none;
  padding: 10px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}

.finderClick {
  color: white;
  min-height: 200px;
  background-color: #165ec9;
  width: 90%;
  margin: 20px auto 80px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.viewerTitle {
  margin-bottom: 20px;
}

.finderViewer {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.finderViewer > div > p {
  text-align: left;
  padding: 5px 0 5px 20px;
  border-top: 1px solid white;
}

.transactionNumber {
  margin: 10px 0 10px 0;
}

.finderViewer > div > p > span {
 margin-right: 30px;
 font-size: 1.3rem;
}

.transContainer {
  border: 1px solid white;
  border-radius: 5px;
  margin: 15px 5px 15px 5px;
  padding: 10px 0 10px 0;
}

.transContainer span {
  color: black;
  font-size: 1.1rem;
  font-weight: bolder;
}

.patient {
  text-align: left;
  margin: 25px;
}

.transInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.transInfo > p {
  width: 50%;
}

.blockComponent {
  margin-top: 100px;
}

.noResults {
  color: #400a06;
}

.blockContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  width: 90%;
  margin: 50px auto 0;
  padding-bottom: 50px;
}

.blockElement {
  color: white;
  background-color: #165ec9;
  border-radius: 5px;
  cursor: pointer;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
